<!DOCTYPE html>
<html>
<head>
    <title>Zach WF on the WWW.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Zach Wener-Fligner</h1>
    <p>
        I'm a software engineer and writer who currently lives in Brooklyn, New
        York. I'm currently employed by <a href="http://qz.com">Quartz</a> as
        part of the Atlantic Media Fellowship, a selective yearlong fellowship
        for recent college graduates to work for The Atlantic and its sister
        publications. The fellowship lasts through June 2014.
    </p>
    <p><a href="/zwf-resume-01-15.pdf">Here</a> is my resume.</p>
    <p><strong>Brief bio</strong></p>
    <p>I grew up in Seattle, Washington, where I attended <a
        href="http://en.wikipedia.org/wiki/Garfield_High_School_%28Seattle,_Washington%29">Garfield
        High School</a>. In high school, I wrote and then edited the school
    paper, won a state team chess championship, drove an ice cream truck for a
    business I started with two close friends, and interned at Microsoft.
    </p>
    <p>
    I graduated from the <a href="http://mit.edu">Massachusetts Institute
        of Technology</a> in 2014 where I studied <a
        href="https://math.mit.edu/academics/undergrad/major/course18c.php">Mathematics
        with Computer Science</a> and
    minored in <a href="http://cmsw.mit.edu/">Writing</a>.
    </p>
    <p>During college, I did software engineering internships at Google,
    Amazon, and Flotype, a startup that was part of the Y Combinator winter
    2011 cohort. I also hosted a hip-hop, funk, and r&b radio show on MIT's
    student radio station, banditted the Boston Marathon, and played a lot of soccer.</p>
    <p>My writing has been published on <a
        href="http://www.theatlantic.com/zach-wener-fligner/">TheAtlantic.com</a>,
    <a href="http://qz.com/author/zwenerflignerqz/">Quartz</a>, <a
        href="http://newsoffice.mit.edu/search?keyword=zach+wener-fligner">MIT
        News</a>,
    <a
        href="http://www.technologyreview.com/contributor/zach-wener-fligner/">Technology
        Review magazine</a>, and <a
        href="http://mangoprism.com/author/realzbwf/">Mangoprism</a>. I won
    several <a
        href="http://cmsw.mit.edu/publications/ilona-karmel-writing-prizes/winners/#2014">MIT writing
        prizes</a> and created the <a
        href="https://www.facebook.com/RobotsOfMIT">Robots of MIT</a> project
    which garnered <a
        href="http://betaboston.com/gallery/2014/03/19/meet-the-robots-of-mit/">some
        press</a> and 3,000 likes on Facebook.</p>
    <p>I exist in several places on the internet, including <a
        href="https://github.com/zachwe">Github</a>, <a
        href="https://www.linkedin.com/profile/view?id=116682247&trk=nav_responsive_tab_profile">LinkedIn</a>, <a
        href="https://twitter.com/zachwe">Twitter</a>,
    <a
        href="https://www.goodreads.com/user/show/5520387-zach-wener-fligner">Goodreads</a>, and <a href="https://projecteuler.net/progress=zbwener">Project
        Euler</a>.</p>
        
</body>

